.searchSuggestion .header__autocomplete {
    display: block;
}

.searchSuggestion .header__search-input {
    border-radius: 0px 20px 0px 0px;
}

.searchSuggestion .header__search-icon {
    border-radius: 20px 0px 0px 0px;
}