html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    background-color: black;
}

body,
.wrapper,
.sub-wrapper {
    width: inherit;
    height: inherit;
}