body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    background-color: black;
}

.wrapper {
    min-width: 100vw;
    min-height: 100vh;
}