.nav {
    width: 192px;
    margin-top: 33px;
    margin-left: 39px;
    list-style-type: none;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
}


/* Principal items */

.nav__item {
    height: 30px;
    margin-top: 11px;
}

.nav__item--first {
    margin-top: 0px;
    color: #7CD235;
}

.nav__item--adjust {
    height: auto;
}

.nav__item--popular {
    margin-top: 33px;
    height: auto;
}


/*Sublists*/

.nav__list {
    list-style-type: none;
    font-weight: 400;
}

.nav__list-item {
    height: 30px;
    margin-top: 11px;
}

.nav__list-item--first {
    margin-top: 33px;
}


/*SVG*/

.nav__svg {
    fill: white;
    margin-right: 13px;
}