/* Search button */

.header__search-button:hover .header__search-svg,
.header__search-button:focus-visible .header__search-svg {
    fill: black;
}


/* Logout button */

.header__logout-button:hover .header__logout-svg,
.header__logout-button:focus-visible .header__logout-svg {
    fill: black;
}


/* Radio displays */

.main__radio--first:checked {
    background-image: url(/src/assets/icons/main/display1.svg);
}

.main__radio--second:checked {
    background-image: url(/src/assets/icons/main/display2.svg);
}

.main__radio:hover,
.main__radio:focus-visible {
    outline: 2px solid white;
}


/* Cards */
.main__card:nth-child(n):hover,
.main__card:nth-child(n):focus-visible {
    outline: 2px solid white;
}