/* Error */

.inputError .error-message {
    display: flex;
}

.inputError .form-lines {
    height: 16px;
}

.inputError .pass-box {
    margin-top: 6px;
}

.inputError .login-box,
.inputError .form-lines {
    margin-top: 21px;
}

.inputError .container-first-button {
    margin-top: 23px;
}

.inputError .email-input,
.inputError .email-icon,
.inputError .pass-input,
.inputError .pass-icon,
.inputError .hidepass-icon {
    border-color: #D24040;
}

.inputError .email-input::placeholder,
.inputError .pass-input::placeholder {
    color: #D24040;
}

.inputError .email-icon>svg,
.inputError .pass-icon>svg {
    fill: #D24040;
}


/* Focus */

.isFocused .email-icon,
.isFocused .email-input,
.isFocused .pass-icon,
.isFocused .pass-input,
.isFocused .hidepass-icon {
    border-color: white;
}

.isActive>div>svg {
    fill: white;
}


/* Active */

.isActive .email-input,
.isActive .pass-input {
    color: white;
}