/* Error */


/* .error {
    border-color: #D24040;
}

.error::placeholder {
    color: #D24040;
}

.error>svg {
    fill: #D24040;
} */


/* Focus */


/* .isFocused {
    border-color: white;
} */


/*Active */


/* .isActive {
    border-color: white;
    color: white;
}

.isActive svg {
    fill: white;
} */