* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: #141414;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #8F8F8F;
}