.wrapper {
    margin-top: 180px;
    margin-bottom: 184px;
}

.form-box {
    flex-direction: column;
    width: 630px;
    height: 660px;
    padding-top: 34px;
    border-radius: 10px 0px 0px 10px;
    background-color: #303030;
}

.carousel-box {
    width: 453px;
    height: 660px;
}