/*
Mobile:
320 a 767px mobile

Tablet:
768 a 1023px tablet

Original:
1024 a 1279px laptop
1280 a 1439px desktop
1440 > big screens
*/

@media (max-width: 1024px) {
    .image-box {
        display: none;
    }
    .form-box {
        border-radius: 10px 10px 10px 10px;
    }
}