/*
Mobile:
320 a 767px mobile

Tablet:
768 a 1023px tablet

PC && TV:
1024 a 1279px laptop
1280 a 1439px desktop
1440 > big screens
*/

@media (max-width: 1024px) {
    .wrapper {
        margin: 0;
    }
    .carousel-box {
        display: none;
    }
    .form-box {
        border-radius: 0;
        margin-top: 105px;
        margin-bottom: 348px;
    }
    .pass-box {
        margin-top: 32px;
    }
    .login-box {
        margin-top: 47px;
    }
    .form-lines {
        margin-top: 20px;
    }
    body {
        background-color: #303030;
    }
}

@media (max-width: 767px) {
    form {
        width: 240px;
    }
    .form-box {
        margin-top: 45px;
        margin-bottom: 151px;
    }
    .title-box {
        height: 48px;
        line-height: 48px;
        font-size: 32px;
    }
    .email-box {
        margin-top: 38px;
    }
    .email-input {
        width: 188px;
    }
    .pass-input {
        width: 140px;
    }
    hr {
        width: 90px
    }
}


/*Stop responsiveness...*/

@media (max-width: 254px) {
    .form-box {
        display: none;
    }
}