body {
    color: white;
}


/*Play && Cross*/

.wrapper {
    background-color: #303030;
    padding: 26px 40px 40px 40px;
}

.cross {
    margin-bottom: 14px;
}

.cross__play-svg {
    fill: white;
    width: 91.95px;
    height: 20px;
}

.cross__button-svg {
    fill: white;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


/*Title*/

.title {
    height: 54px;
    margin-bottom: 39px;
}

.title h1 {
    font-weight: 800;
    font-size: 40px;
}


/* Add ons */

.adds {
    margin-bottom: 32px;
}

.adds__box {
    width: 108px;
    height: 27px;
    background-color: white;
    color: #303030;
}

.adds__box strong {
    font-weight: 800;
    font-size: 20px;
    color: #2BB34F;
    margin-right: 6px;
}

.adds__box--date,
.adds__box--rating {
    margin-bottom: 15px;
}

.adds__box--rating {
    margin-right: 5px;
}

.adds__box--type {
    margin-right: 7px;
}

.adds__button {
    height: 50px;
    width: 108px;
    border-radius: 10px;
    line-height: 17px;
    padding-left: 6px;
    cursor: pointer;
    text-align: start;
    font-size: 12px;
}

.adds__button--buy {
    margin-bottom: 10px;
    border: 1px solid #979797;
}

.adds__buy-text {
    height: 34px;
    width: 61px;
    margin-right: 14px;
}

.adds__plus-text {
    height: 33px;
    width: 21px;
}

.adds__buy-text b,
.adds__button--wish b {
    font-size: 18px;
    font-weight: 800;
}

.adds__plus-text b {
    font-size: 24px;
    /* Strong default 700 */
}

.adds__button--wish {
    background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
}


/* Description */

.description {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 32px;
}


/* Bottom container */


/* Buttons comment/write */

.bottom__button {
    width: 240px;
    height: 40px;
    background-color: #515151;
    border-radius: 10px;
    font-size: 12px;
    line-height: 16px;
}

.bottom__button--margin {
    margin-bottom: 24px;
}

.bottom__box-comment {
    margin-right: 15px;
}

.bottom__box-write {
    margin-right: 10px;
}

.bottom__box-plus b {
    font-size: 24px;
    font-weight: 800;
}

.bottom__box-plus {
    width: 21px;
    padding-top: 1.5px;
}

.bottom__buttons-box {
    margin-bottom: 32px;
}


/* Images */

.bottom__img-principal {
    max-width: 245px;
    height: 135.62px;
    overflow: hidden;
    margin-bottom: 10px;
}

.bottom__img-other {
    width: 245px;
    height: 65px;
    overflow: hidden;
}

.bottom__img-other--margin {
    margin-bottom: 10px;
}

.bottom__img-col-margin {
    margin-right: 8.75px;
}

.bottom__images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom__images {
    margin-bottom: 32.37px;
}


/* Page info */

.bottom__links {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: #939393
}

.bottom__link {
    margin-bottom: 20px;
}

.bottom__link a {
    color: white;
    text-decoration-line: underline;
}

.bottom__link--modified a {
    text-decoration: none;
}

.bottom__link-space {
    height: 4px;
}


/*Media queries*/

@media (max-width: 302px) {
    .wrapper {
        display: none;
    }
}