/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */


/*General styles*/

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/*General flex classes*/

.flex-horizontal {
    display: flex;
    justify-content: center;
}

.flex-vertical {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

.flex-horizontal-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-vertical-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}