/* Error */

.errorGeneral .error {
    display: flex;
}

.errorGeneral .login-box {
    margin-top: 21px;
}

.errorGeneral .formlines {
    margin-top: 21px;
}

.errorGeneral .pass-box {
    margin-top: 6px;
}

/* border-color: #D24040;
color: #D24040;
fill: #D24040; */

/* Focus */

.isFocused,
.isFocused .form__input {
    border-color: white;
}


/* Active */

.isActive .form__svg-input--user,
.isActive .form__svg-input--pass {
    fill: white;
}

.isActive .form__input {
    color: white;
}