/*Form*/

form {
    width: 330px;
}


/*Title*/

.title-box {
    height: 61px;
    line-height: 61px;
    font-size: 45px;
    letter-spacing: 2.8px;
    color: white;
}

.title-strong {
    font-weight: 800;
}


/*Inputs*/

.email-box,
.pass-box {
    height: 52px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.email-box {
    margin-top: 25px;
}

.pass-box {
    margin-top: 20px;
}

.email-icon,
.pass-icon {
    width: 52px;
    border: 1px solid #8F8F8F;
    border-radius: 8px 0px 0px 8px;
}

.svg-one,
.svg-two,
.svg-three {
    position: relative;
    fill: #D1D1D1;
}

.svg-one {
    top: 16px;
    left: 16px;
}

.svg-two {
    top: 15px;
    left: 16px;
}

.svg-three {
    top: 16.5px;
    left: 14px;
}


/* 
.email-input::placeholder,
.pass-input::placeholder {
    position: absolute;
    top: 16px;
    line-height: 19px;
} */

.email-input,
.pass-input {
    padding-left: 20px;
    outline: none;
    font-size: 14px;
    color: #8F8F8F;
    border: 1px solid #8F8F8F;
    border-left: none;
    background: #303030;
    background-color: transparent;
}

.email-input {
    width: 278px;
    border-radius: 0px 8px 8px 0px;
    padding-right: 47px;
}

.pass-input {
    width: 230px;
    border-right: none;
}

.hidepass-icon {
    width: 48px;
    border: 1px solid #8F8F8F;
    border-radius: 0px 8px 8px 0px;
    border-left: none;
}

.btn-hidepass {
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: #303030;
}


/*Error message*/

.error-message {
    display: none;
    height: 19px;
    margin-top: 7px;
    font-size: 14px;
    line-height: 19px;
    color: #D24040;
}


/*Remember me && LOGIN*/

.login-box {
    margin-top: 32px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: 'remember . login';
}

.form-remember-me {
    grid-area: remember;
    justify-self: start;
    font-size: 14px;
    line-height: 19px;
}

.checkbox-custom {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #8F8F8F;
    border-radius: 4px;
    cursor: pointer;
    background-color: #303030;
}

.login-button:enabled {
    grid-area: login;
    justify-self: end;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
}


/*Register && Forgot password?*/

.placeholders {
    margin-top: 15px;
    font-size: 14px;
    height: 19px;
    line-height: 19px;
    color: white;
}


/*---or---*/

.form-lines {
    height: 19px;
    margin-top: 47px;
}

hr {
    width: 134px;
    border: 1px solid white;
    background-color: white;
}

.form-text-or {
    color: white;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}


/*Social media buttons*/

.container-fb,
.container-tw,
.container-g {
    height: 40px;
}

.container-fb {
    margin-top: 21px;
}

.container-tw,
.container-g {
    margin-top: 24px;
}

.subcontainer-button {
    width: 240px;
}

.icon {
    border-radius: 8px 0px 0px 8px;
    width: 46.55px;
}

.buttons {
    width: 193.45px;
    text-align: left;
    padding-left: 24px;
    line-height: 16px;
    border-radius: 0px 8px 8px 0px;
    font-weight: 700;
    font-size: 12px;
    color: white;
    border: 0;
}

.svg-fb,
.svg-tw,
.svg-g {
    position: relative;
}

.svg-fb {
    top: 11.3px;
    left: 14px;
}

.svg-tw {
    top: 12px;
    left: 14.5px;
}

.svg-g {
    top: 11px;
    left: 15.7px;
}

.fb-icon {
    background-color: #263C68;
}

.tw-icon {
    background-color: #0695CB;
}

.g-icon {
    background-color: #9D9D9D;
}

.facebook {
    background-color: #3B5998;
}

.twitter {
    background-color: #00ACED;
}

.google {
    background-color: #C7C7C7;
}