/*Form*/

form {
    width: 330px;
}


/*Title*/

.form__title {
    height: 61px;
    line-height: 61px;
    font-size: 45px;
    letter-spacing: 2.8px;
    color: white;
}

.form__title-strong{
    font-weight: 800;
}


/*Inputs*/

.form__input-box {
    height: 52px;
    border: 1px solid #8F8F8F;
    border-radius: 8px;
}

.form__input-box--email {
    margin-top: 25px;
}

.form__input-box--pass {
    margin-top: 20px;
}

.form__input-icon {
    width: 52px;
}

.form__svg-input {
    position: relative;
    fill: #D1D1D1;
}

.form__svg-input--user {
    top: 16px;
    left: 16px;
}

.form__svg-input--pass {
    top: 15px;
    left: 16px;
}

.form__svg-input--hidepass {
    top: 16.5px;
    left: 14px;
}

.form__input {
    padding-left: 20px;
    outline: none;
    border: none;
    font-size: 14px;
    color: #8F8F8F;
    border-left: 1px solid #8F8F8F;
    background-color: transparent;
}

.form__input--email {
    width: 278px;
    padding-right: 47px;
}

.form__input--pass {
    width: 230px;
}

.form__hidepass-box {
    width: 48px;
}

.form__hidepass-btn {
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: inherit;
}


/*Error message*/

.form__error {
    display: none;
    margin-top: 7px;
    height: 19px;
    font-size: 14px;
    color: #E07979;
}

/*Remember me && LOGIN*/

.form__login {
    margin-top: 32px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: 'remember . login';
}

.form__login-remember {
    grid-area: remember;
    justify-self: start;
    font-size: 14px;
    line-height: 19px;
    color: #979797;
}

.form__login-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #8F8F8F;
    border-radius: 4px;
    cursor: pointer;
}

.form__login-button:enabled {
    grid-area: login;
    justify-self: end;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
}


/*Register && Forgot password?*/

.form__placeholders {
    margin-top: 15px;
    font-size: 14px;
    height: 19px;
    line-height: 19px;
    color: white;
}


/*---or---*/

.form__lines {
    height: 19px;
    margin-top: 47px;
}

hr {
    width: 134px;
    border: 1px solid white;
    background-color: white;
}

.form__lines-text {
    color: white;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}


/*Social media buttons*/

.form__wrapper-fb {
    height: 40px;
    margin-top: 21px;
}

.form__wrapper-tw,
.form__wrapper-g {
    height: 40px;
    margin-top: 24px;
}
.form__wrapper-fb {
    height: 40px;
    margin-top: 21px;
}

.form__social-subwrapper {
    width: 240px;
}

.form__social-icon {
    border-radius: 8px 0px 0px 8px;
    width: 46.55px;
}
.form__social-icon--fb {
    background-color: #263C68;
}

.form__social-icon--tw {
    background-color: #0695CB;
}

.form__social-icon--g {
    background-color: #9D9D9D;
}

.form__svg-fb {
    position: relative;
    top: 11.3px;
    left: 14px;
}

.form__svg-tw {
    position: relative;
    top: 12px;
    left: 14.5px;
}

.form__svg-g {
    position: relative;
    top: 11px;
    left: 15.7px;
}

.form__buttons {
    width: 193.45px;
    text-align: left;
    padding-left: 24px;
    line-height: 16px;
    border-radius: 0px 8px 8px 0px;
    font-weight: 700;
    font-size: 12px;
    color: white;
    border: 0;
}

.form__buttons--fb {
    background-color: #3B5998;
}

.form__buttons--tw {
    background-color: #00ACED;
}

.form__buttons--g {
    background-color: #C7C7C7;
}