/*
Mobile:
320 a 767px mobile

Tablet:
768 a 1023px tablet

PC && TV:
1024 a 1279px laptop
1280 a 1439px desktop
1440 > big screens
*/

@media (max-width: 1024px) {
    .wrapper {
        margin: 0;
    }
    .carousel {
        display: none;
    }
    .form {
        border-radius: 0;
        margin-top: 105px;
        margin-bottom: 348px;
    }
    .form__input-box--pass {
        margin-top: 32px;
    }
    .form__login {
        margin-top: 47px;
    }
    .form__lines {
        margin-top: 20px;
    }
    .snackbar__child {
        width: 400px;
    }
    body {
        background-color: #303030;
    }
}

@media (max-width: 767px) {
    form {
        width: 240px;
    }
    .form {
        margin-top: 45px;
        margin-bottom: 151px;
    }
    .form__title {
        height: 48px;
        line-height: 48px;
        font-size: 35px;
    }
    .form__input-box--email {
        margin-top: 38px;
    }
    .form__input--email {
        width: 188px;
    }
    .form__input--pass {
        width: 140px;
    }
    .snackbar {
        top: 20px;
    }
    .snackbar__child {
        width: 280px;
        height: 35px;
    }
    hr {
        width: 90px
    }
}


/*Stop responsiveness...*/

@media (max-width: 255px) {
    .form {
        display: none;
    }
    .snackbar {
        display: none;
    }
}