/* Hidepass button */

.form__hidepass-btn:focus-visible .form__svg-input--hidepass,
.form__hidepass-btn:hover .form__svg-input--hidepass {
    fill: white;
}

.form__hidepass-btn:active .svg-three {
    fill: #D1D1D1;
}


/* Checkbox */

.form__login-checkbox:checked {
    background-color: #7CD235;
    border-color: #7CD235;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/src/assets/icons/login/check.svg);
}

.form__login-checkbox:focus-visible {
    outline: none;
    border-color: white;
}


/*Login button*/

.form__login-button:hover {
    background: #7CD235;
}

.form__login-button:focus-visible {
    outline: none;
    border: 1px solid #FFFFFF;
}

.form__login-button:active {
    box-shadow: inset 0px 4px 4px rgba(43, 179, 79, 0.63);
    background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
}