/*Import font*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


/*General styles*/

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #141414;
}

::selection {
    background-color: #7CD235;
}

/* Custom flex framework */

.flex-horizontal {
    display: flex;
    justify-content: center;
}

.flex-vertical {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-horizontal-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-vertical-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-start-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}