/*Import font*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*Colors*/

:root {
    --white: #FFFFFF;
    --black: #000000;
    --black-bg: #141414;
    --dark-grey: #303030;
    --light-grey: #8F8F8F;
    --light-green: #7CD235;
    --dark-green: #2BB34F;
    --icon-grey: #D1D1D1;
    --error-red: #E07979;
    --snackbar-red: #ED7474;
    --snackbar-white: #F0D3D3;
    --facebook-dark: #263C68;
    --facebook-light: #3B5998;
    --twitter-dark: #0695CB;
    --twitter-light: #00ACED;
    --google-dark: #9D9D9D;
    --google-light: #C7C7C7;
}

/*General styles*/

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: var(--black-bg);
}


/*Hidden class*/

.hidden {
    display: none !important;
}

/* Selection text color */

::selection {
    background-color: var(--light-green);
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 500px;
    box-shadow: inset 0 0 5px var(--black);
    background: #969393;
}

::-webkit-scrollbar-thumb {
    border-radius: 500px;
    box-shadow: inset 0 0 5px var(--black);
    background: #585858;
}

::-webkit-scrollbar-thumb:hover {
    background: #6e6d6d;
}

/* Custom flex framework */

.flex-start {
    display: flex;
}

.flex-horizontal {
    display: flex;
    justify-content: center;
}

.flex-vertical {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-horizontal-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start-column {
    display: flex;
    flex-direction: column;
}

.flex-vertical-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
