/* General styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: #141414;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #8F8F8F;
}


/*Container */

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


/* Image */

.image-box {
    width: 453px;
    height: 660px;
}

.image-adjust {
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}


/* Form */

.form-box {
    width: 630px;
    height: 660px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 0px 0px 10px;
    background: #303030;
}

.form-wrapper {
    margin-top: 34px;
    width: 330px;
}

.form-title {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    /*Ver porque aca te queda un espacio a la derecha del div...., el text align no tiene efecto*/
    font-size: 21px;
    line-height: 61px;
    letter-spacing: 2.8px;
    /* ESTE VALOR ES 45px EN FIGMA, se va al carajo, estan raros estos datos line height, spacing... */
}

.form-title-normal {
    font-weight: 300;
    /* Es 400 en realidad */
}

.form-title-strong {
    font-weight: 800;
}

.form-user {
    margin-top: 2.5px;
}

input[type="text"] {
    background: #303030;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    /*El box shadow no me está funcionando*/
    border: 1px solid #8F8F8F;
    border-radius: 8px;
    padding-left: 72px;
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    height: 52px;
}

.form-user i {
    color: #D1D1D1;
    font-size: 1.25rem;
    /*Esta bien aproximar tamano del icono*/
    position: relative;
    top: 37px;
    left: 16px;
    /*No se como calcular margin top exacto, es el alto del macaco*/
    /*Probe con float pero no funca, me gustaria poder ver como resolver esto mejor*/
}


/*Las preguntas se repiten para password*/


/*En ambos falta la linea*/

.form-pass {
    margin-top: -2.5px;
}

.form-pass input[type="password"] {
    background: #303030;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid #8F8F8F;
    border-radius: 8px;
    padding-left: 72px;
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    height: 52px;
}

.form-pass i {
    color: #D1D1D1;
    font-size: 1.25rem;
    position: relative;
    top: 37px;
    left: 16px;
}

.form-login {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: 'remember . login';
    margin-top: 32px;
}

.form-remember-me {
    grid-area: remember;
    justify-self: start;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    /*No entiendo bien para que es el line-height en TODO el programa*/
}

#remember {
    background-color: #303030;
    /*No anda esto....*/
    border: 1px solid #8F8F8F;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.form-login-button {
    grid-area: login;
    justify-self: end;
    border: 0;
    background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
    border-radius: 8px;
    width: 100px;
    height: 40px;
    font-weight: 550;
    letter-spacing: 0.7px;
    /*En FIGMA: font weight es de 600 y no hay letter spacing*/
    line-height: 22px;
    color: white;
    cursor: pointer;
}


/*Register now        Forgot password?*/

.form-placeholders {
    margin-top: 15px;
    font-size: 14px;
    line-height: 19px;
    color: white;
    display: flex;
    justify-content: space-between;
}


/*---------- or ---------*/

hr {
    border: 0.1px solid white;
    /*En figma: 1px*/
    background-color: white;
    width: 142px;
}

.form-lines {
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
}

.form-vertical-center {
    display: flex;
    align-items: center;
}

.form-text-or {
    width: 61px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}


/*IDem CUIDADO de más arriba, creo que FORCë el width.....*/

.form-center {
    display: flex;
    justify-content: center;
}

.form-button-facebook {
    margin-top: 24px;
}

.form-button-facebook button {
    background: #3B5998;
    border-radius: 8px;
    width: 15rem;
    height: 2.5rem;
    font-weight: 700;
    font-size: 12px;
    color: white;
    border: 0;
}

.form-button-twitter {
    margin-top: 21px;
}

.form-button-twitter button {
    background: #00ACED;
    border-radius: 8px;
    width: 15rem;
    height: 2.5rem;
    font-weight: 700;
    font-size: 12px;
    color: white;
    border: 0;
}

.form-button-google {
    margin-top: 21px;
}

.form-button-google button {
    background: #C7C7C7;
    border-radius: 8px;
    width: 15rem;
    height: 2.5rem;
    font-weight: 700;
    font-size: 12px;
    color: white;
    border: 0;
}


/* Media queries */

@media (max-width: 1083px) {
    .image-box {
        display: none;
    }
    .form-box {
        border-radius: 10px 10px 10px 10px;
    }
}